.default-answer-paragraph-style {
  font-size: 1.1em;
  font-family: cursive;
  padding: 1em;
  font-weight: 500;
  color: red;
  opacity: 0;
}

.default-answer-input-style {
  width: 30%;
  height: 50px;
  border-radius: 18px;
  outline: none;
  font-size: 1.33em;
  color: green;
  margin: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 3px solid #767cdc;
  transition: all 0.5s;
  padding-left: 15px;
}

.answer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.odgovor-label {
  font-size: 1.35em;
  font-weight: 500;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.individual-answer-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
